:root {
  --bg-white: rgb(243, 241, 238);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.page {
  width: 98%;
  height: 200%;
  border: 2px solid lightgray;
  border-block-width: 90%;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  margin: 0 auto;
}

.home-view {
  margin: 0 auto;
  width: 100%;
  height: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./resoures/OG-IMAGE-FR.jpeg');
  background-size: 100% 105%;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  background-repeat: no-repeat;
}

.nav-bar {
  height: 11.76%;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
}

.search-button {
  background: url('./resoures/search-button.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em;
}

.home-image-holder {
  height: 86.27%;
}

.navigation {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.navigation > ul {
  width: 33.32%;
  height: 100%;
}

.about-product {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.about-product img {
  width: 50%;
}

.packaging {
  height: 50%;
  width: 31.66%;
  display: flex;
  gap: 0.2em;
  justify-content: space-around;
  align-items: center;
  border-radius: 2em;
  background-color: var(--bg-white);
  padding: 1.2em;
  text-align: center;
}

.search-button {
  height: 50%;
  width: 10%;
  border-radius: 50%;
  background-color: var(--bg-white);
}

.about-us {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.about-us > li {
  width: 16%;
  height: 50%;
  text-align: center;
  padding: 3.5%;
  color: white;
}

.tilton-home > a {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-break {
  width: 98%;
  border: 1px solid white;
}

.packaging-heading {
  position: fixed;
  font-size: 140px;
  color: white;
  font-weight: 200;
  animation: 4s linear 0s infinite alternate fade-color;
}

#line1 {
  top: 300px;
  left: 430px;
}

#line2 {
  top: 450px;
  right: 280px;
}

#line3 {
  top: 600px;
  left: 430px;
}

.heading:hover > .packaging-heading {
  color: black;
}

.about-brands,
.about-company {
  position: absolute;
  top: 8.2em;
  width: 98%;
  height: 0%;
  transition: 1s;
  transition-timing-function: ease-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.home-view:has(.brands:hover) .about-brands,
.home-view:has(.company:hover) .about-company {
  height: 60%;
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 1em 1em 2em 2em;
  z-index: 1;
}

.about-brands div,
.about-careers div {
  width: 24.6%;
  height: 89%;
  gap: 1em;
  background-color: rgba(248, 216, 186, 0.9);
}

.about-company div {
  width: 32%;
  height: 94%;
  gap: 3em;
  background-color: rgba(248, 216, 186, 0.9);
  border-radius: 2em;
}
